body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.music{
    width: 400px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;  
}
.AudioWaveBox{
    border: black solid 2.5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.textInfoAudioWave{
    text-align: center;
}
.music .bar {
    width: 12px;
    border-radius: 10px;
    background-color: white;
    animation: movement 1.5s ease-in-out infinite;
}
@keyframes movement {
    0%, 100% {
        height: 2px;
    }
    50% {
        height: 80px;
    }
}
.music .bar:nth-child(1){
    background-color: black;
    animation-delay: 1s;
}
.music .bar:nth-child(2){
    background-color: black;
    animation-delay: .8s;
}
.music .bar:nth-child(3){
    background-color: black;
    animation-delay: .6s;
}
.music .bar:nth-child(4){
    background-color: black;
    animation-delay: .4s;
}
.music .bar:nth-child(5){
    background-color: black;
    animation-delay: .2s;
}
.music .bar:nth-child(6){
    background-color: black;
    animation-delay: .2s;
}
.music .bar:nth-child(7){
    background-color: black;
    animation-delay: .4s;
}
.music .bar:nth-child(8){
    background-color: black;
    animation-delay: .6s;
}
.music .bar:nth-child(9){
    background-color: black;
    animation-delay: .8s;
}
.music .bar:nth-child(10){
    background-color: black;
    animation-delay: 1s;
}