/* html/body styling */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
body::-webkit-scrollbar {
    display: none;
}

/* css part of the music wave */
.music{
    width: 400px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;  
}
.AudioWaveBox{
    border: black solid 2.5px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.textInfoAudioWave{
    text-align: center;
}
.music .bar {
    width: 12px;
    border-radius: 10px;
    background-color: white;
    animation: movement 1.5s ease-in-out infinite;
}
/* wave animatione */
@keyframes movement {
    0%, 100% {
        height: 2px;
    }
    50% {
        height: 80px;
    }
}
/* styling the different parts of the audio wave */
.music .bar:nth-child(1){
    background-color: black;
    animation-delay: 1s;
}
.music .bar:nth-child(2){
    background-color: black;
    animation-delay: .8s;
}
.music .bar:nth-child(3){
    background-color: black;
    animation-delay: .6s;
}
.music .bar:nth-child(4){
    background-color: black;
    animation-delay: .4s;
}
.music .bar:nth-child(5){
    background-color: black;
    animation-delay: .2s;
}
.music .bar:nth-child(6){
    background-color: black;
    animation-delay: .2s;
}
.music .bar:nth-child(7){
    background-color: black;
    animation-delay: .4s;
}
.music .bar:nth-child(8){
    background-color: black;
    animation-delay: .6s;
}
.music .bar:nth-child(9){
    background-color: black;
    animation-delay: .8s;
}
.music .bar:nth-child(10){
    background-color: black;
    animation-delay: 1s;
}

/* css part of the swipe mechanism */
#swiper {
    height: 95vh;
    width: 24vw;
    aspect-ratio: 2 / 3;
    perspective: 1000px;
    perspective-origin: center 50%;
    transform-style: preserve-3d;
    position: relative;
    background-image: url(./img/box_background.png);
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    user-select: none;
    transition: transform 0.5s;
}
  
.card img {
    height: 36vh;
    width: 18vw;
    border-radius: 30px;
    margin-top: 16vh;
    margin-left: 3vw;
    object-fit: cover;
    object-position: 50% 50%;
}
  
#like,
#dislike {
    font-size: 16vh;
    border-radius: 50%;
    padding: 20px;
    position: relative;
    z-index: 1;
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    /* don't run animation at the beginning */
    animation-play-state: paused;
}
  
#like.trigger,
#dislike.trigger {
    animation-name: animation2;
}
  
#like {
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
}
  
#dislike {
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
}
  
@keyframes animation1 {
  
    0%,
    100% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 1;
    }
}
  
@keyframes animation2 {
  
    0%,
    100% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 1;
    }
}